body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
padding:20px;
background-image: url('WhatsApp\ Image\ 2026-03-13\ at\ 5.59.21\ AM.jpeg');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100% 100%;
}
h2{
text-align: start;
margin-left: 20px;
}

.timeline{
position:relative;
margin:30px;
padding-left:70px;
}

.timeline::before{
content:"";
position:absolute;
left:35px;
top:0;
width:4px;
height:100%;
background:#0ea5e9;
}

.stop{
display:flex;
align-items:center;
margin-bottom:40px;
}

.time{
width:80px;
font-size:14px;
color:#94a3b8;
}

.circle{
width:14px;
height:14px;
background:#60a5fa;
border-radius:50%;
margin-right:15px;
}

.arrived{
color:#22c55e;
}

.ontheway{
color:#38bdf8;
}

.waiting{
color:#facc15;
}

.box{
background:#1e293b;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
text-align:center;
}

button{
padding:10px 20px;
border:none;
background:#38bdf8;
color:white;
border-radius:5px;
cursor:pointer;
}