body{
font-family:Arial;
margin:0;
padding:0;
text-align:center;
background-image: url("public/WhatsApp\ Image\ 2026-03-13\ at\ 5.40.42\ AM.jpeg");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100% 100%;
}

#map{
height:80vh;
width:100%;
}

#etaBox{
background:#fff;
padding:10px;
font-size:18px;
}